useDynLib(corf)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom("stats", "runif")
exportPattern("^[[:alpha:]]+")
export("init_orf")
export("train_orf")
export("predict_orf")
export("causal_online_random_forest")
export("online_random_forest")
export("causal_orf_cv")
export("orf_cv")
export("get_importance")